.container-fit{
    margin-right: auto;
    margin-left: auto;
    padding-left: 150px;
    padding-right: 150px;
}

/* basic css */
.cleaner { clear: both }
.h5 { height: 5px }
.h10 { height: 10px }
.h20 { height: 20px }
.h30 { height: 30px }
.h40 { height: 40px }
.h50 { height: 50px }
.padding5 { padding: 5px;}
.padding10 {padding: 10px;}
.padding-top-bottom5{padding: 5px 0px;}
.padding-top-bottom10{padding: 10px 0px;}
.padding-top5{padding-top:5px;}
.padding-top10{padding-top:10px;}
.text-indent10{text-indent: 10px;}
.margin-top10 {margin-top:10px;}
.margin-top15 {margin-top:15px;}

.font-weight-bold{font-weight: bold;}
.font-weight-normal{font-weight: normal;}
.fs11{font-size: 11px;}
.fs12{font-size: 12px;}
.fs13{font-size: 13px;}
.fs14{font-size: 14px;}
.fs15{font-size: 15px;}
.fs16{font-size: 16px;}
.fs17{font-size: 17px;}
.fs18{font-size: 18px;}
.fs19{font-size: 19px;}
.fs20{font-size: 20px;}

.keep-mid{vertical-align:middle;}
.keep-center{text-align:center;}
.keep-left{text-align:left;}
.keep-right{text-align:right;}

.divhide {display:none;}
.divshow{display:block;}

.text-shadow{text-shadow: -1px 1px 1px #ffffff;}
.roundcorner{border-radius: 5px;}

/* end basic css*/ 

.navbar-brand img
{
    display: inline-block;
}

body
{
    padding-top: 50px;
}

.page-header h1
{
    font-size: 30px;
}

table thead th 
{
    text-align: center;
}
.menu-title
{
    font-weight: bold;
    color: #1295bf;
    padding: 9px 0px;
}
.border-right-exlude-xs 
{
    border-right: 1px solid #ccc;

}
.border-bottom-xs
{
    border-bottom: none;
}

.border-left-exlude-xs 
{
    border-left: 1px solid #ccc;

}
.border-top-xs
{
    border-top: none;
}
.border-bottom
{
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
}
.text-danger-bold
{
    color: #c7254e;
    font-weight: bold;
}

.budget-desc
{
    color: #888;
    padding-top: 12px;
}
.budget-desc b
{
    padding-left: 20px;
}
.budget-desc b:first-child
{
    padding-left: 0px;
}
/*Budget Investment*/
.title-budget-investment
{
    margin-bottom: 18px;
}
/*End Budget Investment*/

#main-body
{
    min-height: 700px;
    height: auto;
}
.main-footer {
    background: #F8F8F8;
    padding: 15px;
    color: #444;
    border-top: 1px solid #d2d6de;
}

#banner-test
{
    font-size: 14px;
    margin-top: 14px;
    margin-right: 6px;
}


/* xs */
@media (max-width: 767px)
{ 
    .border-right-exlude-xs 
    {
        border-right: none;
    }
    .border-bottom-xs
    {
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: 1px solid #ccc;
    }

    .border-left-exlude-xs 
    {
        border-left: none;

    }
    .border-top-xs
    {
        padding-top: 15px;
        margin-top: 15px;
        border-top: 1px solid #ccc;
    }
    .title-budget-investment .link-edit
    {
        margin: 8px 0px;
        clear: both;
    }
}
/* sm */
@media (min-width: 768px) and (max-width: 991px)
{ 

}
/* md */
@media (min-width: 992px) and (max-width: 1199px)
{ 

}
/* lg */
@media (min-width: 1200px)
{ 

}

/***********
   Admin detail 
***********/
.admin_detail_default h5
{
    font-size: 18px;
    padding-bottom: 6px;
    border-bottom: 1px solid #BFD8EE;
    color: #3B668C;
}
.admin_detail_default .form-group
{
    margin-bottom: 0px;
}
/*.admin_detail_default label
{
    padding-bottom: 0px;
}*/
.admin_detail_default .form-group-little-padding
{
    padding-bottom: 5px;
}
.admin_detail_default .label-borrow-total
{
    padding:5px 10px;
    background-color: #297A29;
}
.admin_detail_default .help-block
{
    font-size: 12px;
    color : #999;
    margin-bottom:0px;
}
.admin_detail_default a:hover
{
    text-decoration: none;
}
/* End Admin Detail*/

.control-label-normal-value
{
    padding: 7px 17px;
    font-weight: normal;
}

.admin_detail_default .target-input{
    font-size: 14px;
    padding:3px;
    height:30px; 
    text-align:center
}
.edit_val .form-control{
    display:inline;
    width:50%
}

.text-subscript{
    margin-bottom: 0px;
}

.thumb .text-info{
    color : #0059FF;
}
.thumb .text-success{
    color : #008749;
}
.thumb .text-warning{
    color : #FFA500;
}
.thumb .text-danger{
    color : #FF0000;
}

.checkbox-top{
    top:-0.9em; right:-1.6em;position:relative
}

.code-comment
{    
    background-color: #F9EE85;
    border : 1px solid #F4DD10;
    color: #998A00;
    margin: 5px 0px;
    padding: 5px 8px;
    border-radius: 3px;
}

.form-horizontal-no-margin-bottom .form-group
{
    margin-bottom: 0px;
}
.form-horizontal-no-margin-bottom .form-group-little-padding
{
    padding-bottom: 5px;
}