/* basic css */
.cleaner { clear: both }
.h5 { height: 5px }
.h10 { height: 10px }
.h20 { height: 20px }
.h30 { height: 30px }
.h40 { height: 40px }
.h50 { height: 50px }
.padding5 { padding: 5px;}
.padding10 {padding: 10px;}
.padding-top-bottom5{padding: 5px 0px;}
.padding-top-bottom10{padding: 10px 0px;}
.padding-top5{padding-top:5px;}
.padding-top10{padding-top:10px;}
.text-indent10{text-indent: 10px;}
.margin-top10 {margin-top:10px;}
.margin-top15 {margin-top:15px;}

.font-weight-bold{font-weight: bold;}
.font-weight-normal{font-weight: normal;}
.fs11{font-size: 11px;}
.fs12{font-size: 12px;}
.fs13{font-size: 13px;}
.fs14{font-size: 14px;}
.fs15{font-size: 15px;}
.fs16{font-size: 16px;}
.fs17{font-size: 17px;}
.fs18{font-size: 18px;}
.fs19{font-size: 19px;}
.fs20{font-size: 20px;}

.keep-mid{vertical-align:middle;}
.keep-center{text-align:center;}
.keep-left{text-align:left;}
.keep-right{text-align:right;}

.divhide {display:none;}
.divshow{display:block;}

.text-shadow{text-shadow: -1px 1px 1px #ffffff;}
.roundcorner{border-radius: 5px;}

/* end basic css*/ 

.information-date
{
    font-size: 14px;
    color: #ccc;
}
.box-header-danger
{
    background-color: #FFEEEE;    
}

.box-header-success
{
    background-color: #D7F2D7;    
}

table thead th 
{
    text-align: center;
}
.text-danger-bold
{
    color: #c7254e;
    font-weight: bold;
}

.budget-desc 
{
    color: #888;
    padding-top: 12px;
}

#banner-test
{
    font-size: 16px;
    margin-top: 14px;
}

/* xs */
@media (max-width: 767px)
{ 
    .breadcrumb
    {
        display: none;
    }
}
/* sm */
@media (min-width: 768px) and (max-width: 991px)
{ 
    
}
/* md */
@media (min-width: 992px) and (max-width: 1199px)
{ 
  
}
/* lg */
@media (min-width: 1200px)
{ 
    
}
